body {
    padding-top: 80px;
}

label {
    font-weight: bold;
}

.read-only {
    font-style: italic;
}

.page-title {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}