{:up   
  ["create table family (
    id          serial        primary key,
    name        varchar(100)  not null,
    organizer   integer       not null references user_profile
  );

  create table family_member (
    id           serial       primary key,
    family       integer      not null references family,
    user_profile integer      not null references user_profile
  );"]
 :down 
  ["drop table family;
    drop table family_member;"]}